.product-list-container {
  padding: 20px;
  margin: 20px 0;
}

.product-list-container.user-view {
  background: transparent;
  padding: 0;
  margin: 0;
  height: auto;
  min-height: auto;
  max-height: none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  padding: 0 50px;
  gap: 20px;
  justify-content: start;
}